
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

#logo a{
    text-decoration: none;
    color: #d4af37;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
}

.hero {
    background-color: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.content-utama img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.content-utama h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
}

.hero-content p {
    font-size: 1.2em;
    color: #666;
}

section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #d4af37;
}

p, ul {
    font-size: 1.1em;
    color: #666;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 10px;
}

.social-links a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #d4af37;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

a:hover {
    color: #d4af37;
}

.profile-poto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-poto:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 5px rgba(212, 175, 55, 0.7);
}


#contact a{
    text-decoration: none;
}